#wrap{
	width:100%;
	margin:0 auto;
	overflow:hidden;
	
}
#join_content{
	overflow: hidden;
    width: 1050px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #000;
    font-size:12px;
}
.subtitle{
    MARGIN-top: 0px;
    WIDTH: 100%;
    HEIGHT: 70px;
    
}
.subtitle>h2{
	TEXT-ALIGN: left;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}
.subtitle>p{
    COLOR: #b1b1b1;
    FONT-SIZE: 11px;
    TOP: 20px;
    RIGHT: 0px;
}
.tit-join{
	margin-bottom: 0px;
    padding-bottom: 6px;
    border-bottom: 0px solid #3a4452;
    font-size: 18px;
    font-weight: bold;
}
.mains{
	width:100%;
	margin:0 auto;
}
.main>.join_p{
	padding: 10px 0 5px 0;
    font-weight: bold;
}
.field_t{
	width:100%;
	margin: 0 auto;
}
.join_textarea{
	width: 99%;
    height: 100px;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: 돋움, verdana, tahoma, arial, sans-serif;
    margin: 0px auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    padding: 10px 0px 10px 10px;
}
.agree_p{
	text-align: right;
    width: 88%;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    height: 20px;
    font-size: 12px;
    font-family: 돋움, Dotum, AppleGothic, sans-serif;
    color: rgb(118, 118, 118);
    vertical-align: middle;
    padding: 2px;
}
.cont-tit{
	text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 15px;
    color: #000;
    font-weight: bold;
    font-size:15px;
    background: url(/images/d3/modern_simple/bull_tit_h11.gif) no-repeat 0 0;
}
.person-tb{
	border:0px;
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
	display:table;
}

#personInfo{
	padding: 15px 0;
    border: 1px solid #b9b8b8;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-top: 30px;
}
#personInfo>.person-tb th{
	height:30px;
	letter-spacing:-1px;
	bertical-align:middle;
    border-right: 1px solid #fcf7f8;
    
}
    
.tb-l{
	text-align:left;
	font-size:12px;
}
.pl-30{
	padding-left:15px;
	
}
.red{
    color: #ff6590;
}


.page-body{
		width: 700px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #e5e5e5;
}
.mlog-sign{
	width:700px;
	min-height:206px;
}
.mlog{
	    border-right: 1px solid #e5e5e5;
    position: relative;
    width: 350px;
    height: 180px;
    float:left;
}
legend{
	height:0px;
	width:0px;
	display:block;
	text-indent:-9999em;
	
}
#loginform{
	    font-size: 12px;
    padding: 2px;
    font-family: 돋움, Dotum, AppleGothic, sans-serif;
    color: rgb(118, 118, 118);
    vertical-align: middle;
}
fieldset{
	border: none;
    vertical-align: top;
    text-align: center;
}
.frm-list{
	position: absolute;
	left: 0px;
    top: 0px;
    width: 350px;
    color: #3F3F3F;
    text-decoration: none;
	padding-left:0px;
	
}
.frm-list>li{
	font-size: 11px;
    text-align: left;
    height: 32px;
    overflow: hidden;
    display: block;
    width: 305px;
    margin: 0 0 2px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    line-height: 32px;
    padding: 0 0 0 8px
}
#member_id,#member_passwd{
	font-size: 11px;
    width: 240px;
    height: 23px;
    padding: 2px 0 2px 0;
    line-height: 23px;
    border: 1px solid #d9d9d9;
    float: right;
    border: none;
}

.id>label{
	width:300px;
	padding-top:2px;
}
.buttonlogin{
	position: absolute;
	left:0px;
	top:90px;
	width:310px;
	margin :10px 0 0;
}
.buttonlogin span a{
	width: 100%;
    line-height: 14px;
    padding: 20px 0;
    font-size: 10px;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Roboto', arial;
    font-weight: 700;
    font-size: 12px;
    color: #000;
}
.btnlogin{
	display: inline-block;
    border: 2px solid #333;
    border-radius: 2px;
    margin: 0 2px;
    background: #fff
}
.sign{
    left: 370px;
    top: 0px;
    width: 300px;
    font-size: 11px;
    text-align: center;
    border: 0px solid #000;
    margin-left: 15px;
    float:left;
}
.sign>.msg{
    text-align: left;
    line-height: 14px;
    color: #3F3F3F;
    text-decoration: none;
 }
 .buttonlogin1{
 width:300px;
 margin:10px 0 0;
 }
 .buttonlogin1 span a{
     width: 100%;
    line-height: 14px;
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Roboto', 'arial';
    font-weight: 400;
    font-size: 12px;
    text-decoration:none;
 }
 .btnlogin1{
     display: inline-block;
    border: 1px solid #333;
    border-radius: 2px;
    margin: 0 2px;
    background: #6D6D6D;
 }


 .mw-menu{
    width: 1049px;
    margin: 0 auto 20px auto;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    float:left;
 }
 .mw-menu>ul{
 margin:0;
 padding:0;
 
 }
 .mw-menu>ul>li{
	 float:left;
	 border-left:1px solid #e3e3e3;
	 list-style-type:none;
 }
 .mw-menu>ul>li>a.color{
 	color:#ff838f;
 }
 .mw-menu>ul>li>a{
 	text-decoration:none;
 	display: block;
    padding: 11px 14px 9px 13px;
    text-align: center;
    color: #3e3e3e;
    font-size:12px;
 }
 .my-menu:after{
 display:block;
 clear:both;
 }
 .mw-info{
 	clear:both;
    width: 1042px;
    margin: 40 auto 40px auto;
    padding: 40px 0;
    border: 4px solid #e8e8e8;
    font-size:12px;
 }
 .mw-info>table{
 	width:100%;
 	margin:0;
 	padding:0;
 	border-spacing:0px;
 	border:0px;
 	border-collapse:collapse;
 }
 .mw-info>th{
 	text-align:left;
 	font-weight:normal;
 	padding-left:10px;
 	
 }
 .mw-info>td{
 	text-align:right;
 }
 .mw-info:after{
	 display:block;
	 clear:both;
 }
 .mwi-left1{
 	float: left;
    width: 265px;
    height: 80px;
    margin: -40px 0 0 15px;
    padding-right: 10px;
    border-right: 1px solid #e8e8e8;
 }
 .mwi-left{
     float: left;
    width: 290px;
    height:80px;
    margin: -40px 0 0 15px;
    padding-right: 15px;
    border-right: 1px solid #e8e8e8;
 }
 .mwi-left>table{
 margin-top:10px;
 }
 .mwi-right{
     float: left;
    width: 290px;
    height:80px;
    margin: -30px 0 0 15px;
    margin-left: 15px;
 }
 .mw-list{
 	width:1050px;
 	margin:0 auto 40px auto;
 	font-size:12px;
 }
 .mw-list>.mwl-table{
	width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #c0c0c0;
    font-size:12px;
 }
 .mwl-table>caption{
     visibility: hidden;
    position: absolute;
    left: -1000px;
    top: -1000px;
    height: 0px;
    width: 0px;
    display: none;
 }
 .mwl-table>thead>tr>th{
 
	background: #f6f6f6;
    border-bottom: 1px solid #ccc;
    height:36px;
    vertical-align:middle;
    text-align:center;
    font-size:13px;
 }
 .mw-goods{
     width: 1050px;
    margin: 0 auto 40px auto;
 }
 h3.title{
 margin-bottom:20px;
     width: 100%;
    height: 24px;
    font-size: 12px;
    text-align: left;
    color: #3e3e3e;
    font-weight: normal;
    letter-spacing: -1px;
    border-bottom: 2px solid #c0c0c0;
 }
.mw-goods>.mwl-table{
	border-spacing: 0px;
    border: 0px;
    border-collapse: collapse;
    width: 100%;
    font-size:13px;
}
.mypage_list>h3{
	margin-top:40px;
	TEXT-ALIGN: left;
    PADDING-BOTTOM: 18px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 100px;
}
.table_style{
	width:100%;
	border-collapse:collapse;
	clear:both;
}
.table_style>caption{
	display:none;
}
.table_style>thead>tr>th.first{
	BORDER-LEFT: #ddd 1px solid;
}
.table_style>thead>tr>th{
	BORDER-BOTTOM: #ddd 1px solid;
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #f0f0f0;
    COLOR: #7c7c7c;
    FONT-SIZE: 11px;
    BORDER-TOP: #ddd 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 5px;
}
.table_style>tbody>tr>td{
	
	BORDER-BOTTOM: #ddd 1px solid;
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 7px;
    LINE-HEIGHT: 120%;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    COLOR: #7c7c7c;
    FONT-SIZE: 11px;
    PADDING-TOP: 7px;
}

.mypage_list>.msg{
	    TEXT-ALIGN: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 25px;
}
.mypage_list>.msg>li{
	PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    LETTER-SPACING: -1px;
    COLOR: #585858;
    FONT-SIZE: 11px;
    LIST-STYLE-IMAGE: none;
    PADDING-TOP: 0px;
}
.mypage_list>.msg>li>span{
	    COLOR: #f6301c;
}
#cartWrap{
	margin:0 0 50px 0;
}
#table2{
	border-collapse:collapse;
	margin:20px auto;
	width:100%;
}
#table2>tbody>tr>th{
	    border: 1px solid #e3e3e3;
    padding: 20px 10px;
}
#cart>form>input{
	    font-size: 12px;
    padding: 2px;
    font-family: ë‹ì›€, Dotum, AppleGothic, sans-serif;
    color: rgb(118, 118, 118);
    vertical-align: middle;
}
.table_style{
	    WIDTH: 100%;
    BORDER-COLLAPSE: collapse;
    CLEAR: both;
}
.table_style>caption{
	display:none;
}
.table_style>thead>th.first{
	    BORDER-LEFT: #ddd 1px solid;
}
	
.table_style>thead>th{
	    BORDER-BOTTOM: #ddd 1px solid;
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    BACKGROUND: #f0f0f0;
    COLOR: #7c7c7c;
    FONT-SIZE: 11px;
    BORDER-TOP: #ddd 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #ddd 1px solid;
    PADDING-TOP: 5px;
}
.tb_center{
	text-align:center;
}
.tb-right{
	text-align:center;
}
.table_price{
	PADDING-BOTTOM: 20px;
    PADDING-LEFT: 0px;
    WIDTH: 100%;
    PADDING-RIGHT: 0px;
    BACKGROUND: #f3f3f3;
    PADDING-TOP: 20px;
}
.table_price>table{
	width:100%;
}
.table_price>table>tbody>tr>th{
	TEXT-ALIGN: right;
    COLOR: #7a7a7a;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}
.table_price>table>tbody>tr>th>.point{
	COLOR: #ff297b;
    FONT-WEIGHT: bold;
}
.cartBtn{
	    width: 1200px;
    margin-top: 30px;
}
.cartBtn>.cB-center{
	    float: left;
    width: 1050px;
    text-align: center;
}
.cartBtn>.cB-center>a{
	text-decoration:none;
}
.cartBtn>.cB-center>a>img{
	border:none;
	vertical-align:top;
	text-align:center;
}
.mypage_list>h3{
	    TEXT-ALIGN: left;
    PADDING-BOTTOM: 18px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 50px;
}
.mypage_list>h3>img{
	border: none;
    vertical-align: top;
    text-align: center;
}
#wishlist{
	margin-top:-50px;
}
#real_cnt{
	width:100%;
	padding:0;
}
#real_cnt>p>a,a:link,a:visited{
	color:#000;	
}
#real_cnt>.bw-list{
	width:100%;
	margin:20px 0 100px 0;
}
#real_cnt>.bw-list>.blist{
	width:100%;
	margin:15px 0 0 0;
	padding:0;
	border-top:1px solid #141414;
	border-spacing:0px;
	border:0px;
	border-collapse:collapse;
}
#real_cnt>.bw-list>.blist>thead>tr>th{
	height: 42px;
	border-top: 1px solid #141414;
    border-bottom: 1px solid #141414;
    font-size: 12px;
    font-weight: normal;
    color: #141414;
}
#real_cnt>.bw-list>.blist>tbody>tr>td{
	font-size: 11px;
    color: #7c7c7c;
    border-bottom: 1px solid #dddddd;
    background: #fff;
    padding: 10px 0;
	vertical-align: middle;
    text-align: center;
}
#real_cnt>.bw-list>.blist>tbody>tr>td>a{
	font-size: 11px;
    color: #7c7c7c;
    line-height: 11px;
    text-decoration:none;
}
.paging{
	    position: relative;
    margin-top: 20px;
    padding: 0px;
    text-align: center;
}
.paging_nonline{
	height:40px;
	padding-top:10px;
	text-aling:center;
}
.page{
	float:left;
}
.searchbbs{
	 height: 20px;
    position: absolute;
    left: 0;
    z-index: 99999;
}
.board_list_button{
	right:0;
}
.board_list_button>a{
	text-decoration:none;
	color: #000
}
.board_button{
	    width: 150px;
    padding: 4px;
    background: #FFF;
    border: 1px solid #000;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    display: inline-block;
}