#wrap{
	width:100%;
	margin: 0 auto;
	overflow:hidden;
}
#wrap>.content{
    overflow: hidden;
    width: 1050px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #000;

}
.titleImg{
	float: left;
    width: 100%;
}
.pl-cate{
	clear:both;
    width: 1048px;
    height: 38px;
    margin-top: 0px;
    border: 1px solid #d7d5d5;
}
.pl-cate>.plc-name{
	float: left;
    height: 25px;
    padding: 13px 12px 0 10px;
    border-right: 1px solid #d7d5d5;
    font-weight: bold;
    text-align:center;
}
.pl-cate>.plc-name>p{
	margin-top:-5px;
	margin-left:3px;
}

.plc-list>li{
	float: left;
    height: 38px;
    border-right: 1px solid #d7d5d5;
    list-style:none;
    margin-top:-16px;
}
.plc-list>li>a{
	display: block;
    height: 27px;
    padding: 11px 15px 0 15px;
    font-size: 12px;
    text-align: center;
    color: #6f6f6f;
    text-decoration:none;
}
.pl-sort{
    width: 1030px;
    height: 25px;
    padding: 12px 8px 0 14px;
    margin-bottom: 25px;
    background: #f4f4f4;
    border-left: 1px solid #e6e5e5;
    border-right: 1px solid #e6e5e5;
    border-bottom: 1px solid #e6e5e5;
    color: #3e3e3e;
}
.pl-sort>.pls-all{
	float:left;
	font-size: 12px;
	
}
.pl-sort>.pls-all>b{
	font-weight:bold;
}
.clearfix{
	height:0;
	clear:both;
}
.glist>ul{
	width:1060px;
	margin:auto;
	float:left;
	padding-left:0px;
	
}
.glist>ul>li{
	float: left;
    vertical-align: top;
    display: inline-block;
    width: 255px;
    height: 275px;
    margin-right:10px;
}
.listimg>a{
	text-deocration:none;
}
.listimg>a>img{
	width:255px;
	height:170px;

}