body{
	margin:0;
}

#header{
	width:100%;
	background-color:black;
}

#inner1{
	width:100%;
	padding-top:1px;
}
#menu{
	width:1060px;
	margin:auto;
}
#menu>a{
	float:left;

}
#menu>a>img{
	width:135px;
	height:29px;
	margin-right:220px;
	margin-left:35px;
}

#menu>ul>li{
	display:inline-block;
	margin-right:10px;
}
#menu>ul>li>a{
	color:white;
	text-decoration:none;
	text-align:center;
	margin-right:10px;
	font-size:11px;
}
#inner2{
	both:clear;
	width:100%;
	background-color:white;
	border-bottom:0.3px solid;
}
#menu2{
	width:1060px;
	margin:auto;
	
}

#menu2>ul>li{
	margin-top:15px;
	display:inline-block;
	margin-right:25px;
}
#menu2>ul>li>a{
	color:black;
	text-decoration:none;
	text-align:center;
	font-size:11px;
}
#content{
	width:100%;
}
#content_ad{
	width:100%;
	height:560px;
	margin:0 auto;
	overflow:hidden;
	
}
#mainrow1{
	width:1050px;
	margin:auto;
}
#mainrow1>p{
 	border-bottom: 1px solid #c0c0c0;
	
}
#mainrow2{
	width:1050px;
	margin:auto;
}
#mainrow2>p{
 	border-bottom: 1px solid #c0c0c0;
}
#mainrow3{
	width:1050px;
	margin:auto;
}
#mainrow3>p{
 	border-bottom: 1px solid #c0c0c0;
}
#mainrow4{
	width:1050px;
	margin:auto;
}
#mainrow4>p{
 	border-bottom: 1px solid #c0c0c0;
}
#mainrow5{
	width:1050px;
	margin:auto;
}
#mainrow5>p{
 	border-bottom: 1px solid #c0c0c0;
}
#mainrow6{
	width:1050px;
	margin:auto;
}
#mainrow6>p{
 	border-bottom: 1px solid #c0c0c0;
}
#index1>ul{
	width:1060px;
	margin-left:-50px;
}
#index1>ul>li{
	float: left;
    display: inline-block;
    width: 255px;
    height: 270px;
    margin-left: 10px;
    vertical-align: top;
    list-style:none;
    margin-bottom:50px;
}
.additem .gname{
	display: block;
    overflow: hidden;
    padding: 3px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221,221,221);
    color: black;
    font-size: 11px;
    line-height: 13px;
    text-indent: 5px;
    background-color: rgb(248,248,248);
    font-weight: bold;
}
.additem .gname_pre{
	display: block;
    overflow: hidden;
    padding: 3px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221,221,221);
    color: black;
    font-size: 11px;
    line-height: 13px;
    text-indent: 5px;
    background-color: rgb(248,248,248);
}
.additem .account{
	display: block;
    overflow: hidden;
    padding: 3px 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221,221,221);
    color: black;
    font-size: 11px;
    line-height: 13px;
    text-indent: 5px;
    background-color: rgb(248,248,248);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221,221,221);
    font-weight: normal;
}

#footer{
	clear:both;
}
#quick{
	overflow: hidden;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
#center{
	width:1200px;
	margin:0 auto;
}
#center_name{
    float: left;
    padding: 25px 0;
    width:293px;
    height:36px;
    color: #000;
    font-family: 'verdana';
    font-size: 11px;
    font-weight: bold;
    text-align:right;
}
#center_name>dl>dt{
	float:left;
}
#center_name>dl>dd{
	float:right;
}

#board{
	color: #696969;
    font-size: 11px;
    line-height: 1.4;
	float:left;
	width: 426px;
	height:117.8px;
    margin: 0 29px 0 51px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}
#board>ul>li{
	margin-top:20px;
	margin-left:40px;
	display:inline-block;
}
#return{
	padding-top:20px;
	color: #696969;
    font-size: 11px;
    line-height: 1.4;
}

.menu{
	display: block;
    padding: 40px 0 40px;
    text-align: center;
    font-size: 11px;
}
.menu>li{
	display: inline-block;
    color: #d1d1d1;
    list-style-type:none;
}
.menu>li>a{
	text-decoration:none;
	padding: 0 20px;
	color: #929292;
	
}
.info{
	    clear: both;
    font-size: 11px;
}
.info>p{
	color: #929292;
    font-size: 11px;
    text-align: left;
    line-height: 1.4;
}